html{
    min-height: 100%;
}
/* General Styles */
body > .el-container-blog {
    display: flex;
    flex-direction: row;
    height: 100%;
    border: 1px solid #eee;
    min-width: 100%;
    position: relative;
}

/* Header and Footer */
.el-header-blog, .el-footer-blog {
    background-color: #505254;
    color: #333;
    text-align: center;
}

.el-main-blog {
    min-height: calc(100vh - 80px);
    text-align: center;
    line-height: 160px;
    padding: 0;
}

/* Header Components */
.blog-header-container {
    margin: 0 auto;
    width: 95%;
    height: 100%;
}
/*header左边部分*/
.blog-header-left {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 0.5rem;
    float: left;
    width: 20%;
    min-width: 95px;
}
/*header中间部分*/
.blog-header-menu{
    display: flex;
    flex-wrap: nowrap;
    float: left;
    min-width: 50%;
}
.blog-header-el-menu{
    background-color: #505254;
    border: none;
    color: #d9d9d9;
    /*text-align: center;*/
    padding: 0;
    margin-left: calc(max(5px, 20%));
}
.blog-header-el-menu>li{
    width: 25%;
}
.blog-header-el-menu{
    overflow-y: hidden;
}
/*header右边部分*/
.blog-header-right {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 0.5rem;
    float: right;
    color: #d9d9d9;
    width: 20%;
}

.blog-header-right-hover{
    display: flex;
}

.blog-header-username{
    line-height: 2rem;
    margin-left: 0.2rem;
    color: #d9d9d9;
    font-size: 0.7rem;
    white-space: nowrap; /* 防止文本换行 */
}

.blog-header-right-arrow{
    color: #d9d9d9;
    line-height: 2rem;
}

.blog-header-dropdown-menu{
    position: relative;
    right : 1rem;
    width: 6rem;
}

.blog-header-dropdown-menu>li>.blog-header-dropdown-menu-item{
    font-size: 0.5rem;
    padding-right: 0;
    width: calc(100% - 20px);
}

.blog-header-dropdown-menu-item{
    width: 100%;
}

.blog-header-image {
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blog-right-header-image{
    border-radius: 50%;
}

.blog-header-title {
    color: #fff;
    font-size: 1rem;
    line-height: 2rem;
    margin-left: 0.5rem;
    white-space: nowrap; /* 防止文本换行 */
}

/* Responsive */
@media screen and (min-width: 1px) and (max-width: 768px) {
    .blog-header-menu{
        display: none!important;
    }
    html {
        font-size: calc(40px / 3);
    }
    .el-header-blog, .el-footer-blog{
        height: 40px !important;
    }
    /*对小屏幕时仅显示头像不显示用户名*/
    .blog-header-username{
        display: none;
    }
    .blog-header-right{
        justify-content: flex-end;
    }
    .blog-home-page-carousel,.blog-home-page-carousel>.el-carousel__container,.blog-home-page-carousel-img{
        height: 240px;
    }
    .blog-home-page-carousel>ul{
        top:calc(40px + 240px - 96px - 50px);
        height: 96px;
    }
    .blog-right-header-image{
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    html {
        font-size: calc(60px / 3);
    }
    .blog-header-el-menu>li,.blog-header-el-menu>li>div{
        font-size: calc(60px / 3.5);
    }
    .el-header-blog, .el-footer-blog{
        height: 60px !important;
    }
    .blog-header-el-menu,.blog-header-el-menu>li,.blog-header-el-menu>li>div{
        line-height: 60px !important;
        height: 60px !important;
    }
    .blog-home-page-carousel,.blog-home-page-carousel>.el-carousel__container,.blog-home-page-carousel-img{
        height: 360px;
    }
    .blog-home-page-carousel>ul{
        top:calc(60px + 360px - 144px - 50px);
        height: 120px;
    }
    .blog-right-header-image{
        margin-left: 1rem;
    }
}

@media screen and (min-width: 1201px) {
    html {
        font-size: calc(5vw / 3);
    }
    .blog-header-el-menu>li,.blog-header-el-menu>li>div{
        font-size: calc(5vw / 3.5);
    }
    .el-header-blog, .el-footer-blog{
        height: 5vw !important;
    }
    .blog-header-el-menu,.blog-header-el-menu>li,.blog-header-el-menu>li>div{
        line-height: 5vw !important;
        height: 5vw !important;
    }
    .blog-home-page-carousel,.blog-home-page-carousel>.el-carousel__container,.blog-home-page-carousel-img{
        height: 30vw;
    }
    .blog-home-page-carousel>ul{
        top:calc(5vw + 30vw - 12vw - 3vw);
        height: 9vw;
    }
    .blog-right-header-image{
        margin-left: 1rem;
    }
}

/*BlogHomeMainView*/
.blog-home-page-carousel{
    position: relative;
    width: 100%;
    overflow-y: hidden;
}
.blog-home-page-carousel>ul>li{
    width: 14%;
    padding:0 3%;
}
.blog-home-page-carousel>ul>li>button{
    width: 100%;
}
.blog-home-page-carousel>ul{
    position: absolute;
    width: 40vw;
}
.blog-home-page-carousel-img{
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}