html{
    min-height: 100%;
}
/* General Styles */
body > .el-container-blog {
    display: flex;
    flex-direction: row;
    height: 100%;
    border: 1px solid #eee;
    min-width: 100%;
    position: relative;
}

/* Header and Footer */
.el-header-blog, .el-footer-blog {
    background-color: #505254;
    color: #333;
    text-align: center;
}

.el-main-blog {
    min-height: calc(100vh - 80px);
    text-align: center;
    line-height: 160px;
    padding: 0;
}

/* Header Components */
.blog-header-container {
    margin: 0 auto;
    width: 95%;
    height: 100%;
}
/*header左边部分*/
.blog-header-left {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 0.5rem;
    float: left;
    width: 20%;
    min-width: 95px;
}
/*header中间部分*/
.blog-header-menu{
    display: flex;
    flex-wrap: nowrap;
    float: left;
    min-width: 50%;
}
.blog-header-el-menu{
    background-color: #505254;
    border: none;
    color: #d9d9d9;
    /*text-align: center;*/
    padding: 0;
    margin-left: calc(max(5px, 20%));
}
.blog-header-el-menu>li{
    width: 25%;
}
.blog-header-el-menu{
    overflow-y: hidden;
}
/*header右边部分*/
.blog-header-right {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 0.5rem;
    float: right;
    color: #d9d9d9;
    width: 20%;
}

.blog-header-right-hover{
    display: flex;
}

.blog-header-username{
    line-height: 2rem;
    margin-left: 0.2rem;
    color: #d9d9d9;
    font-size: 0.7rem;
    white-space: nowrap; /* 防止文本换行 */
}

.blog-header-right-arrow{
    color: #d9d9d9;
    line-height: 2rem;
}

.blog-header-dropdown-menu{
    position: relative;
    right : 1rem;
    width: 6rem;
}

.blog-header-dropdown-menu>li>.blog-header-dropdown-menu-item{
    font-size: 0.5rem;
    padding-right: 0;
    width: calc(100% - 20px);
}

.blog-header-dropdown-menu-item{
    width: 100%;
}

.blog-header-image {
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blog-right-header-image{
    border-radius: 50%;
}

.blog-header-title {
    color: #fff;
    font-size: 1rem;
    line-height: 2rem;
    margin-left: 0.5rem;
    white-space: nowrap; /* 防止文本换行 */
}

/* Responsive */
@media screen and (min-width: 1px) and (max-width: 768px) {
    .blog-header-menu{
        display: none!important;
    }
    html {
        font-size: calc(40px / 3);
    }
    .blog-home-page-main-first-part{
        font-size: 1.5rem !important;
    }
    .el-header-blog, .el-footer-blog{
        height: 40px !important;
    }
    /*对小屏幕时仅显示头像不显示用户名*/
    .blog-header-username{
        display: none;
    }
    .blog-header-right{
        justify-content: flex-end;
    }
    .blog-home-page-carousel,.blog-home-page-carousel>.el-carousel__container,.blog-home-page-carousel-img{
        height: 240px;
    }
    .blog-home-page-carousel>ul{
        top:calc(40px + 240px - 96px - 50px);
        height: 96px;
    }
    .blog-home-page-carousel>.el-carousel__container>button{
        height: 24px;
        width: 24px;
    }
    .blog-right-header-image{
    }
    .blog-meta{
        display: none !important;
    }
    /* 撰写页面图片上传小屏幕响应式设置 */
    .blog-image-uploader{
        height: 100px!important;
        width: 100px!important;
        line-height: 100px!important;
    }
    .blog-image-uploader .el-upload {
        width: 100px!important;
        height: 100px!important;
    }
    .blog-avatar-uploader-icon {
        width: 100px!important;
        height: 100px!important;
        line-height: 100px!important;
    }
    .blog-avatar {
        height: 100px!important;
        width: 100px!important;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    html {
        font-size: calc(60px / 3);
    }
    .blog-header-el-menu>li,.blog-header-el-menu>li>div{
        font-size: calc(60px / 3.5);
    }
    .el-header-blog, .el-footer-blog{
        height: 60px !important;
    }
    .blog-header-el-menu,.blog-header-el-menu>li,.blog-header-el-menu>li>div{
        line-height: 60px !important;
        height: 60px !important;
    }
    .blog-home-page-carousel,.blog-home-page-carousel>.el-carousel__container,.blog-home-page-carousel-img{
        height: 360px;
    }
    .blog-home-page-carousel>ul{
        top:calc(60px + 360px - 144px - 50px);
        height: 120px;
    }
    .blog-home-page-carousel>.el-carousel__container>button{
        height: 36px;
        width: 36px;
    }
    .blog-right-header-image{
        margin-left: 1rem;
    }
}

@media screen and (min-width: 1201px) {
    html {
        font-size: calc(5vw / 3);
    }
    .blog-header-el-menu>li,.blog-header-el-menu>li>div{
        font-size: calc(5vw / 3.5);
    }
    .el-header-blog, .el-footer-blog{
        height: 5vw !important;
    }
    .blog-header-el-menu,.blog-header-el-menu>li,.blog-header-el-menu>li>div{
        line-height: 5vw !important;
        height: 5vw !important;
    }
    .blog-home-page-carousel,.blog-home-page-carousel>.el-carousel__container,.blog-home-page-carousel-img{
        height: calc(100vh - 5vw);
    }
    .blog-home-page-carousel>ul{
        top:calc(5vw + 100vh - 5vw - 12vw - 3vw);
        height: 9vw;
    }
    .blog-home-page-carousel>.el-carousel__container>button{
        height: 3vw;
        width: 3vw;
    }
    .blog-right-header-image{
        margin-left: 1rem;
    }
    .blog-detail-title{
        font-size: 1rem;
        line-height: 3rem;
        height: 3rem;
        font-weight: 700;
        width: 50vw;
        text-align: left;
        margin:0 auto;
    }
}

/*BlogHomeMainView*/
.blog-home-page-carousel{
    position: relative;
    width: 100%;
    overflow-y: hidden;
}
.blog-home-page-carousel>ul>li{
    width: 12%;
    margin:0 4%;
    padding: 0;
}
.blog-home-page-carousel>ul>li>button{
    width: 100%;
}
.blog-home-page-carousel>ul{
    position: absolute;
    width: 40vw;
}
.blog-home-page-carousel-img{
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
/*主页banner底下的正文部分*/
.blog-home-page-main-first-part{
    width: 100vw;
    min-height: 100vh;
    font-size: 0.8rem;
}

.blog-home-page-first-part-left-card>.el-card__header{
    height: calc(10vh + 3em);
    padding: 1em 2em 0 2em;
}

.blog-home-page-first-part-right-card>.el-card__header{
    height: calc(10vh + 3em);
    padding: 1em 2em 0 2em;
}

.blog-home-page-first-part-left-card>.el-card__header>.clearfix{
    height: 100%;
}

.blog-home-page-first-part-right-card>.el-card__header>.clearfix{
    height: 100%;
}

.blog-home-page-first-part-left-card>.infinite-list-wrapper{
    height: calc(90vh - 3em);
}

/*sticky没有用啊!!!*/
/*.blog-home-page-main-first-part>.el-row{*/
/*    min-height: 100vh;*/
/*    overflow: visible; !* 添加这一行 *!*/
/*    position: relative; !* 添加这一行，确保 sticky 的定位基于这个容器 *!*/
/*}*/
.blog-home-util{
    float: right;
}

/*博客内容具体展示*/
.blog-item {
    height: 7rem;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 0;
}

.blog-item:hover {
    background-color: #fafafa;
}

.blog-cover{
    margin: 1rem 0 1rem 0;
    width: 5rem;
    line-height: 5rem;
    height: 5rem;
}

.blog-cover img {
    vertical-align: middle !important;
    width: 5rem;
    line-height: 5rem;
    height: 5rem;
    object-fit: cover;
}

.blog-content {
    height: 7rem;
    flex-grow: 1;
    margin-left: 10px;
}

.blog-title {
    height: 1em;
    line-height: 1em;
    font-size: 0.9em;
    text-align: left;
    margin: 0 0 0 2em;
}

.blog-title:hover{
    text-decoration: underline;
    cursor: pointer;
}

.blog-excerpt {
    font-size: 0.8em;
    line-height: 1em;
    text-align: left;
    margin: 0 0 0 2em;
    padding: 1em 0 1em 0;
    box-sizing: border-box;
    text-indent: 1.6em;
    height: calc(100% - 1em - 0.8em);
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    height: 0.8em;
    line-height: 0.8em;
    color: #888;
    margin:0 1em 0 2em;
}

.tool-list > li{
    height: 1.5rem;
    line-height: 1.5rem;
    list-style: none;
}
.tool-item {
    margin: 0.5rem 0 0.5rem 0;
    height: 1.5rem;
    line-height: 1.5rem;
    display: flex;
    border-bottom: 1px solid #ccc;
}

.tool-img{
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    object-fit: cover;
}

.tool-link{
    margin-left: 0.5rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.7rem;
    color: #888;
}

/*blog-write*/
.blog-write-title-box {
    display: grid;
    grid-template-columns: 22fr 2fr;
}
.blog-write-title {
    background: none;
    color: #303133;
    text-indent: 0px;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    display: block;

    border: none;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0;
    line-height: 1;
    overflow: visible;
    margin-bottom: 15px;
    padding: 4px;
}
.blog-write-title:focus {
    border-color: #409eff;
}
.blog-image-uploader{
    height: calc(10vw);
    width: calc(10vw);
    line-height: calc(10vw);
    text-align: left;
    margin:0 0 1vw 1vw;
}
.blog-image-uploader .el-upload {
    width: 10vw;
    height: 10vw;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.blog-image-uploader .el-upload:hover {
    border-color: #409EFF;
}
.blog-avatar-uploader-icon {
    font-size: 1rem;
    color: #8c939d;
    width: 10vw;
    height: 10vw;
    line-height: 10vw;
    text-align: center;
}
.blog-avatar {
    height: 10vw;
    width: 10vw;
    display: block;
}

.blog-detail-content{
    width: 50vw;
    margin: 0 auto !important;
}


