*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.el-menu {
    min-height:100%;
    overflow-x:hidden;
    active-text-color:#ff0000;
}

.el-container{
    height: 100%;
    border: 1px solid #eee;
}

#home{
    min-height: 100vh;
    padding-left: 5px;
}

.nickname_display{
    font-size: 16px;
    color: #4a4a4a;
    /*font-weight: bold;*/
}

.el-main{
    padding: 0;
    text-align: left;
}

.login_container{
    background-color: #2b4b6b;
    height: 100%;
}

.login_box{
    width: 350px;
    height: 300px;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}

.el-dropdown-menu__item{
    padding: 0;
}

.el-dropdown-menu__item div{
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}


