*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    /*font-size: ;待定*/
}

.el-menu {
    min-height:100%;
    overflow-x:hidden;
    active-text-color:#ff0000;
}

/*background-image: linear-gradient(to bottom, #2b4b6b, #d9d9d9);*/

.el-header {
    height: 10vh;
    text-align: right;
    font-size: 12px;
    line-height: 8vh;
    position: relative;
}

/*.el-table {*/
/*    margin-left: 0.1vw;*/
/*}*/

.el-header::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px; /* 您可以根据需要调整底部边框的高度 */
    background: linear-gradient(to bottom, rgb(235, 235, 235), rgb(255, 255, 255));
}

.el-container{
    height: 100%;
    border: 1px solid #eee;
}

#home{
    min-height: 100vh;
}

.nickname_display{
    font-size: 16px;
    color: #4a4a4a;
    /*font-weight: bold;*/
}

.el-main{
    padding: 0;
    text-align: left;
    width: 85vw;
}

/*Login样式开始*/
.login_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
}

.login_log{
    position: relative;
    margin-bottom: 10px; /* 调整此值以更改logo和登录框之间的间距 */
    background-size: contain;
}

.login_box{
    width: 350px;
    height: 300px;
    background-color: #fff;
    border-radius: 3px;
    position: relative;
    padding: 0 15px;
}
/*Login样式结束*/

.el-dropdown-menu__item{
    padding: 0;
}

.el-dropdown-menu__item div{
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

/*News.vue*/
.news-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.news-img img{
    height:87px;
    width:130px;
}

/*Register.vue*/
.register-container{
    position:relative;
}
.register-logo{
    position: absolute;
    top: 10%; /* 根据需要调整位置 */
    left:5vw; /* 根据需要调整位置 */
    width: 250px; /* 设置Logo宽度 */
    height: 250px; /* 设置Logo高度 */
    background-image: url('../image/mylog.png'); /* 替换为您的Logo图片路径 */
    background-size: contain; /* 将背景图片缩放以适应容器大小 */
    background-position: center; /* 将背景图片居中对齐 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
    z-index: 1; /* 将Logo置于背景图片之上 */
}
.register-view{
    position: absolute;
    right: 15vw;
    top: 35vh;
    z-index: 1;
}
.register-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../image/注册页面背景.jpg'); /* 替换为您的背景图片路径 */
    background-size: cover; /* 将背景图片缩放以覆盖整个容器 */
    background-position: center; /* 将背景图片居中对齐 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
    z-index: -1; /* 将背景图片置于其他元素之下 */
}

.register-card {
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1; /* 将背景图片置于其他元素之下 */
}
.register-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}
.password-strength {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 8px;
}
.strength-bar {
    width: 20%;
    height: 5px;
    background-color: #ebeef5;
    border-radius: 3px;
    margin-left: 10px;
}
.strength-weak {
    background-color: #f56c6c;
}
.strength-medium {
    background-color: #e6a23c;
}
.strength-strong {
    background-color: #67c23a;
}
.el-tooltip__popper {
    font-size: 14px;
    white-space: pre-wrap;
}


