<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.everything_house_backend.mapper.BlogMapper">
    <resultMap type="Blog" id="BlogResult">
        <result property="blogId" column="blog_id"/>
        <result property="blogTitle" column="blog_title"/>
        <result property="blogContent" column="blog_content"/>
        <result property="userId" column="userid"/>
        <result property="typeId" column="type_id"/>
        <result property="blogStatus" column="blog_status"/>
        <result property="createTime" column="create_time"/>
        <result property="coverImageId" column="cover_image_id"/>
    </resultMap>
    <select id="getBlogHomePicture" resultType="java.lang.String">
        select sys_file.url
        from `sys_file`
                 join (select DISTINCT `cover_image_id` from `t_blog` WHERE cover_image_id IS NOT NULL limit 5) as b
                      on sys_file.id = b.cover_image_id;
    </select>
    <select id="selectPageWithCoverImageUrl" resultType="com.house.everything_house_backend.entities.Blog">
        SELECT b.*, f.url as coverImageUrl , u.nickname as author
        FROM t_blog b
                 LEFT JOIN sys_file f ON b.cover_image_id = f.id
                 LEFT JOIN sys_user u ON b.userid = u.id
        ORDER BY b.blog_id
            LIMIT #{page}, #{limit}
    </select>


</mapper>