<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.everything_house_backend.mapper.UserMapper">
    <resultMap type="User" id="UserResult">
        <result property="id" column="id"></result>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="email" column="email"></result>
        <result property="phone" column="phone"></result>
        <result property="nickname" column="nickname"></result>
        <result property="address" column="address"></result>
        <result property="createdTime" column="create_time"></result>
        <result property="avatar" column="avatar"></result>
        <result property="role" column="role"></result>
        <result property="salt" column="salt"></result>
    </resultMap>

    <sql id="selectSysUserVo">
        select *
        from sys_user
    </sql>

    <select id="selectByMultipleCondition" parameterType="map" resultMap="UserResult">
        select *
        from sys_user
        <where>
            <if test="username != null and username != ''">and username like concat('%',#{username}, '%')</if>
            <if test="nickname != null and nickname != ''">and nickname like concat('%',#{nickname}, '%')</if>
            <if test="phone != null and phone != ''">and phone like concat('%',#{phone}, '%')</if>
            <if test="email != null and email != ''">and email like concat('%',#{email}, '%')</if>
            <if test="address != null and address != ''">and address like concat('%',#{address}, '%')</if>
            <if test="avatar != null and avatar != ''">and avatar like concat('%',#{avatar}, '%')</if>
            <if test="role != null and role != ''">and role like concat('%',#{role}, '%')</if>
        </where>
        limit #{pageNumber},#{pageSize}
    </select>

    <select id="selectNumberOfUser" resultType="int">
        select count(*)
        from sys_user
        where role = "ROLE_USER"
    </select>

    <select id="selectNumberOfAdmin" resultType="int">
        select count(*)
        from sys_user
        where role = "ROLE_ADMIN"
    </select>

    <select id="selectTotalByMultipleCondition" parameterType="map" resultType="Integer">
        select count(*)
        from sys_user
        <where>
            <if test="username != null and username != ''">and username like concat('%',#{username}, '%')</if>
            <if test="nickname != null and nickname != ''">and nickname like concat('%',#{nickname}, '%')</if>
            <if test="phone != null and phone != ''">and phone like concat('%',#{phone}, '%')</if>
            <if test="email != null and email != ''">and email like concat('%',#{email}, '%')</if>
            <if test="address != null and address != ''">and address like concat('%',#{address}, '%')</if>
            <if test="avatar != null and avatar != ''">and avatar like concat('%',#{avatar}, '%')</if>
            <if test="role != null and role != ''">and role like concat('%',#{role}, '%')</if>
        </where>
    </select>
    <select id="selectAllByUsername" parameterType="String" resultType="Integer">
        select count(*)
        from sys_user
        <where>
            username =#{queryUserName}
        </where>
    </select>

    <update id="updateUser" parameterType="User">
        update sys_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username !=null ">
                username=#{username},
            </if>
            <if test="password !=null ">
                password=#{password},
            </if><!--一般情况password不能修改，修改密码我们通常再做一个单独的业务-->
            <if test="nickname !=null ">
                nickname=#{nickname},
            </if>
            <if test="nickname == null ">
                nickname="用户114514",
            </if>
            <if test="email !=null ">
                email=#{email},
            </if>
            <if test="phone !=null ">
                phone=#{phone},
            </if>
            <if test="address !=null ">
                address=#{address},
            </if>
            <if test="salt !=null ">
                salt=#{salt},
            </if>
        </trim>
        <where>
            id=#{id}
        </where>
    </update>

    <update id="updateUserByIdForChangeEmail" parameterType="User">
        update sys_user
        <trim prefix="SET" suffixOverrides=",">
                email=#{email},
        </trim>
        <where>
            id=#{id}
        </where>
    </update>

    <delete id="removeByIds" parameterType="String">
        delete from sys_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertUser" parameterType="User">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">username,</if>
            <if test="password != null ">password,</if>
            <if test="nickname != null ">nickname,</if>
            <if test="nickname == null ">nickname,</if>
            <if test="email != null ">email,</if>
            <if test="phone != null">phone,</if>
            <if test="address != null">address,</if>
            <if test="role != null">role,</if>
            <if test="salt != null">salt,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">#{username},</if>
            <if test="password != null ">#{password},</if>
            <if test="nickname != null ">#{nickname},</if>
            <if test="nickname == null ">"用户114514",</if>
            <if test="email != null ">#{email},</if>
            <if test="phone != null">#{phone},</if>
            <if test="address != null">#{address},</if>
            <if test="role != null">#{role},</if>
            <if test="salt != null">#{salt},</if>
        </trim>
    </insert>

    <insert id="insertMoreUser" parameterType="list">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null ">password,</if>
            <if test="nickname != null ">nickname,</if>
            <if test="email != null ">email,</if>
            <if test="phone != null">phone,</if>
            <if test="address != null">address,</if>
            <if test="role != null">role,</if>
        </trim>
        values
        <foreach collection="_parameter" index="index" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.id != null">#{item.id},</if>
                <if test="item.username != null">#{item.username},</if>
                <if test="item.password != null ">#{item.password},</if>
                <if test="item.nickname != null ">#{item.nickname},</if>
                <if test="item.email != null ">#{item.email},</if>
                <if test="item.phone != null">#{item.phone},</if>
                <if test="item.address != null">#{item.address},</if>
                <if test="item.role != null">#{item.role},</if>
            </trim>
        </foreach>
    </insert>

</mapper>